@font-face {
  font-family: 'icomoon';
  src:
    url('icomoon.woff?qcwbmx') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb:before {
  content: "\e91c";
}
.icon-lock-close:before {
  content: "\e914";
}
.icon-lock-open:before {
  content: "\e915";
}
.icon-moon:before {
  content: "\e900";
}
.icon-sunny:before {
  content: "\e901";
}
.icon-image:before {
  content: "\e902";
}
.icon-palette:before {
  content: "\e903";
}
.icon-undo:before {
  content: "\e904";
}
.icon-redo:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-move:before {
  content: "\e908";
}
.icon-eye-dropper:before {
  content: "\e909";
}
.icon-warning:before {
  content: "\e90a";
}
.icon-info:before {
  content: "\e90b";
}
.icon-rounded-check:before {
  content: "\e90c";
  color: #45cb85;
}
.icon-rounded-x:before {
  content: "\e90d";
  color: #c1292e;
}
.icon-share:before {
  content: "\e90e";
}
.icon-clipboard:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-x:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e913";
}
.icon-circle:before {
  content: "\e916";
}
.icon-rectangle-h:before {
  content: "\e917";
}
.icon-rectangle-v:before {
  content: "\e918";
}
.icon-hash:before {
  content: "\e919";
}
.icon-heart-filled:before {
  content: "\e91a";
}
.icon-contrast:before {
  content: "\e91b";
}