.not-found {
  width: 100%;
  height: calc(100vh - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.not-found__main {
  display: flex;
  gap: 100px;
}
.not-found__text {
  width: 460px;
  font-size: 3.6rem;
  font-weight: 800;
  text-align: center;
}
.not-found__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.not-found__face {
  width: 240px;
  height: 300px;
  display: block;
  background-image: url('../assets/images/face.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.not-found .primary-button {
  width: 130px;
  font-size: 1.6rem;
}
.not-found__404 {
  width: 140px;
  height: 80px;
  display: block;
  background-image: url('../assets/images/404.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}