.angle-input {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid var(--txt-main);
  border-radius: 50%;
  background-color: transparent;
}
.angle-input__inner {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid var(--txt-main);
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
}