.Canvas {
  position: relative;
  width: 239px;
  height: 240px;
}
.Canvas__draw {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.3)
}
.Canvas__thumb {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--main);
  cursor: grab;
  border: 1px solid var(--txt-inactive);
}

.Canvas__thumb:active {
  cursor: grabbing;
}

.Canvas__thumb-bg {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--txt-inactive);
  pointer-events: none;
}