
.user-content .Select {
  background: transparent;
}
.user-content .Select__toggle-button,
.collection-content .Select__toggle-button {
  color: var(--txt-main);
  background-color: var(--main);
}
.user-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 
  "main nav";
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
}
.collection-layout__main {
  grid-area: main;
  padding: 40px;
}
.config {
  list-style: none;
  display: flex;
  gap: 40px;
}
.config__item {
  width: auto;
  z-index: 2;
}
.items__list {
  position: relative;
  padding-block: 40px;
  gap: 80px;
  display: grid;
  list-style: none;
}
.item__clr-container {
  display: flex;
  overflow: hidden;
  border-radius: 18px;
  border: 1px solid var(--main-inactive);
}
.item .button-container {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.item .color-button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #1E2029;
  color: var(--txt-inacive);
}
.item .color-button:hover {
  border-color: #5BC3EB;
  color: #5BC3EB;
}
.item .color-button .icon-heart-filled {
  color: #5BC3EB;
}
.item .color-button .icon {
  font-size: 2rem;
}
.item__name {
  display: none;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.item__color:hover .item__name {
  display: block;
}
.item__color {
  padding: 10px;
}
/* Horizontal item */
.items__list--horizontal {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.items__list--horizontal .item__clr-container {
  min-width: 240px;
  max-width: 380px;
  height: 200px;
  margin-inline: auto;
}
.items__list--horizontal .button-container {
  max-width: 380px;
  margin-inline: auto;
}
/* Vertical item */
.items__list--vertical {
  gap: 70px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.items__list--vertical .item__clr-container {
  max-width: 240px;
  height: 340px;
  flex-direction: column;
  margin-inline: auto;
}
.items__list--vertical .button-container {
  max-width: 240px;
  margin-inline: auto;
}
/* Circle item */
.items__list--circle {
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 100px;
}
.items__list--circle .item__clr-container {
  max-width: 250px;
  height: 250px;
  flex-direction: column;
  border-radius: 50%;
}

.no-saved-items {
  width: 600px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  border-radius: 18px;
  background: #1E2029;
  font-size: 1.8rem;
  letter-spacing: 0.2px;
}
.no-saved-items .buttons {
  display: flex;
  gap: 40px;
}
.no-saved-items .primary-button {
  width: fit-content;
  padding-inline: 18px;
}

.pagination-trigger {
  position: absolute;
  bottom: 200px;
  width: 100%;
  height: 80px;
  display: block;
  background: transparent;
  pointer-events: none;
}
@media (max-width: 556px) {
  .items__list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .items__list--horizontal .item__clr-container {
    height: 160px;
  }
  .user-content {
    grid-template-areas: 
    "nav"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr;
    align-items: center;
  }
  .user-content .collection-layout__main {
    padding-top: 0;
  }
}