.Color-Picker {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto;
  border: none;
  border-radius: 18px;
  align-self: end;
  background: rgb(26, 27, 37);
  box-shadow:  10px 8px 20px #000000;
  letter-spacing: 0.6px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.format-container {
  width: 300px;
  display: grid;
  grid-template-areas: 
  "format-select"
  "format-modifiers"
  "close-button"
  ;
  grid-template-rows: 33px 1fr 28px;
}
.Select {
  grid-area: format-select;
}
.format-container .toggle-button {
  height: 22px;
}
.toggle-button .current-value {
  font-size: 1.5rem;
  letter-spacing: 0.8px;
}
.toggle-button .icon {
  font-size: 22px;
}
.options-box {
  background-color: rgb(26, 27, 37);
  box-shadow:  8px 8px 20px #08090C;
  border-radius: 8px;
}
.option {
  background: transparent;
  padding: 12px;
  border: none;
  border-radius: 0;
  color: rgb(232, 233, 243);
  border-top: 1px solid rgba(232, 233, 243, 0.3);
  font-size: 1.2rem;
}
.option:first-child,
.option:first-child:hover {
  border-top: none;
}
.option:hover {
  border-top: 1px solid rgba(232, 233, 243, 0.3);
  background-color: rgb(232, 233, 243);
  color: rgb(26, 27, 37);
}
.format-modifiers {
  grid-area: format-modifiers;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Color-Picker .close-button {
  grid-area: close-button;
}