.Color-Bar {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 18px;
  user-select: none;
}
.Color-Bar .color-button {
  width: fit-content;
  background-color: transparent;
  font-size: 2.2rem;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Color-Bar:hover .color-button,
.Color-Bar:focus .color-button,
.Color-Bar:active .color-button {
  display: flex;
}
.color-hex {
  position: absolute;
  top: 40px;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.color-blind-container {
  position: absolute;
  top: 0;
  max-height: 80%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.color-blind-container::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 30px;
  background-color: transparent;
  bottom: -10px;
  left: 0;
  cursor: n-resize;
}
.add-new-container {
  position: absolute;
  top: 0;
  right: -40px;
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 2;
}
.new-color-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  color: var(--txt-main);
  font-size: 2.4rem;
}
.add-new-container:hover .new-color-button {
  display: flex;
}