.Color-Picker {
  width: fit-content;
  display: flex;
}
.format-container {
  width: 340px;
  display: grid;
  grid-template-areas: 
  "format-select"
  "format-modifiers"
  "close-button"
  ;
  grid-template-rows: 33px 1fr auto;
  padding-inline: 20px;
}
.Select {
  grid-area: format-select;
}
.format-container .toggle-button {
  height: 22px;
}
.toggle-button .current-value {
  font-size: 1.5rem;
  letter-spacing: 0.8px;
}
.toggle-button .icon {
  font-size: 22px;
}
.Select .options-box {
  background-color: var(--main);
  box-shadow:  8px 8px 20px #08090C;
  border-radius: 8px;
}
.Select .option {
  background: transparent;
  padding: 12px;
  border: none;
  border-radius: 0;
  color: var(--txt-main);
  border-top: 1px solid var(--txt-inactive);
  font-size: 1.2rem;
}
.Select .option:first-child,
.Select .option:first-child:hover {
  border-top: none;
}
.Select .option:hover {
  border-top: 1px solid var(--txt-inactive);
  background-color: var(--txt-main);
  color: var(--main);
}
.format-modifiers {
  grid-area: format-modifiers;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Color-Picker .close-button {
  grid-area: close-button;
}