.Contrast-Calculator {
  display: grid;
  grid-template-areas: 
  "buttons"
  "wcag-info"
  "close-button";
  grid-template-rows: 33px 1fr auto;
  width: 600px;
  max-width: 600px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
.buttons-container {
  grid-area: buttons;
  display: flex;
  position: relative;
}
.Contrast-Calculator .color-button {
  width: 50%;
  height: 33px;
  border-radius: 0;
  font-size: 1.65rem;
  text-transform: uppercase;
}
.Contrast-Calculator .color-button--primary {
  border-top-left-radius: 12px;
}
.Contrast-Calculator .color-button--secondary {
  border-top-right-radius: 12px;
  padding: 0;
}
.secondary-color {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}
.secondary-add {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wcag-info {
  grid-area: wcag-info;
}
.wcag-info__container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.9rem;
  font-weight: 600;
  color: var(--txt-main);
}
.wcag-info__icon {
  font-size: 2.2rem;
}
.wcag-info__container #tool-tip {
  -webkit-text-fill-color: var(--main);
  background-color: var(--txt-main);
  font-size: 1.4rem;
}
.wcag-info__container #tool-tip::after {
  left: 25px;
  border-color: transparent transparent var(--txt-main) transparent;
}