.Contrast-Calculator {
  display: grid;
  grid-template-areas: 
  "buttons"
  "wcag-info"
  "close-button"
  ;
  align-self: center;
  grid-template-rows: 33px 1fr;
  width: 600px;
  max-width: 600px;
  height: 360px;
  border: none;
  border-radius: 18px;
  padding: 20px;
  margin: 0 auto;
  background: rgb(26, 27, 37);
  letter-spacing: 0.7px;
}
.buttons-container {
  grid-area: buttons;
  display: flex;
  position: relative;
}
.Modal .color-button {
  width: 50%;
  height: 33px;
  border-radius: 0;
  font-size: 1.65rem;
}
.Modal .color-button--primary {
  border-top-left-radius: 12px;
}
.Modal .color-button--secondary {
  border-top-right-radius: 12px;
  padding: 0;
}
.secondary-color {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  border: none;
}
.secondary-add {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wcag-info {
  grid-area: wcag-info;
}
.contrast-container {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 300;

}
.contrast-container b {
  font-weight: 500;
}