.create-icons-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 80px;
  overflow-x: hidden;
  overflow-y: auto;
}
.loader-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.loader-modal .loader {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 18px;
  background: #1E2029;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  box-shadow: 2px 2px 15px 6px rgba(8,8,10, 1);
}
.loader-modal .loader--icon {
  background-image: url('../assets/icons/loader.svg');
}
.loader-modal .loader--text {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 2.4rem;
}
.loader-modal .loader--text .icon-rounded-check {
  color: #5BC3EB;
}
.create-icons-collection .main {
  padding-inline: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.palette-icons,
.selected-icons {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.selected-icons {
  gap: 0px;
}
.create-icons-collection .collection-name {
  width: 260px;
  display: block;
  padding: 10px 12px 8px;
  margin: 0 auto;
  border-color: transparent;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.4px;
}

.name-container {
  width: 100%;
}
.create-icons-collection .subtitle {
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 0.4px;
}

.create-icons-collection .buttons {
  display: flex;
  gap: 30px;
}
.create-icons-collection .secondary-button {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 12px;
  font-size: 2.6rem;
  border: none;
  overflow-y: visible;
}
.create-icons-collection .secondary-button .icon-heart-filled {
  color: #5BC3EB;
}
input[type=file] {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  max-width: 100%;
  color: transparent;
  font-size: 1px;
  opacity: 0;
}
input[type=file]::file-selector-button {
  width: 50px;
  height: 50px;
  content: "hola"
}

.create-icons-collection .setup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1E2029;
  padding: 10px 28px;
  margin: 20px 0px 40px;
  border-radius: 18px;
}
.create-icons-collection .error-message{ 
  color:gold;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.3px;
}
.selected-icons .color-collection {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.selected-icons .color-collection label {
  width: fit-content;
  font-size: 1.6rem;
}
.selected-icons .color-collection input {
  width: 120px;
  padding: 10px 12px;
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.create-icons-collection .icons-container {
  width: 100%;
  max-width: 1192px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.create-icons-collection .icon__svg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-icons-collection .palette-icons .icon__svg {
  transform: scale(1.6);
}
.create-icons-collection .icon {
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 22px 18px;
  border-radius: 18px;
  background: #1E2029;
  pointer-events: all;
}
.create-icons-collection .icon__warning {
  border: 1px solid gold;
}
.create-icons-collection .icon__warning .icon__setup {
  border: 1px solid gold;
  border-top: none;
}
.create-icons-collection .icon__active {
  box-shadow: 2px 2px 18px rgba(0,0,0,0.6);
}
.create-icons-collection .icon__active .icon__setup {
  box-shadow: 2px 16px 18px 0px rgba(0,0,0,0.6);
}
.create-icons-collection .icon__button {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid var(--txt-inactive);
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}
.create-icons-collection .icon__button .icon-plus {
  font-size: 1.6rem;
}
.create-icons-collection .icon__button:hover {
  color: #5BC3EB;
  border-color: #5BC3EB;
}
.create-icons-collection .input-mask {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-bottom: 12px;
  border-radius: 10px;
  overflow: hidden;
}
.create-icons-collection .icon__input {
  max-width: 120px;
  padding: 8px 12px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  z-index: 0;
}
.create-icons-collection .input-mask::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 8px;
  width: 20px;
  height: calc(100% - 2px);
  display: block;
  background: linear-gradient(to right, rgba(0,0,0,0), #1E2029);
  z-index: 1;
}
.create-icons-collection .icon__toggle,
.create-icons-collection .icon__toggle--up {
  position: absolute;
  bottom: 0;
  padding: 4px 10px;
  background: transparent;
  font-size: 1.6rem;
}
.create-icons-collection .icon__toggle:hover,
.create-icons-collection .icon__toggle--up:hover {
  color: #5BC3EB;
}
.create-icons-collection .icon__setup {
  position: absolute;
  top: calc(100% - 30px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding-bottom: 30px;
  background: #1E2029;
  z-index: 2;
}
.create-icons-collection .icon__option {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.create-icons-collection .icon__option label {
  font-size: 1.3rem;
}
.create-icons-collection .icon__toggle--up {
  transform: rotate(180deg);
}
.create-icons-collection .color-input {
  text-transform: uppercase;
}
.create-icons-collection .remove-button {
  width: 100%;
  height: 33px;
  border-radius: 10px;
  margin-top: 8px;
}

.icon-fonts {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url('../assets/icons/font.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.secondary-button:hover  .icon-fonts {
  background-image: url('../assets/icons/font-hover.png');
}
.secondary-button[disabled] .icon-fonts {
  background-image: url('../assets/icons/font-inactive.png');
}