#tool-tip {
  --_p-inline: 1.8ch;
  --_p-block: 1.5ch;
  --_triangle-size: 0px;
  --_shadow-alpha: 50%;

  opacity: 1;
  position: absolute;
  display: flex;
  padding: var(--_p-block) var(--_p-inline);
  border-radius: 14px;
  background-color: var(--txt-main);
  color: var(--main);
  text-align: center;
  inline-size: max-content;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  filter: 
    drop-shadow(0 3px 3px hsl(0 0% 0% / var(--_shadow-alpha))) 
    drop-shadow(0 8px 8px hsl(0 0% 0% / var(--_shadow-alpha)));
  transform: translateX(var(--_x, 0)) translateY(var(--_y, 0));
  transition: opacity .2s ease, transform .2s ease;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}
*[data-tooltip] {
  position: relative;
} 
*[data-tooltip]:is(:hover, :focus-visible, :active) > #tool-tip {
  opacity: 1;
  transition-delay: 200ms;
}
#tool-tip::before {
  content: "; Has tooltip: ";
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
#tool-tip::after {
  content: "";
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid transparent;
}
#tool-tip:is(
  [tip-position="top"],
  [tip-position="block-start"],
  :not([tip-position]),
  [tip-position="bottom"],
  [tip-position="block-end"]
) {
  text-align: center;
}

#tool-tip[tip-position="right"]::after {
  --_tip: var(--_left-tip);
}


#tool-tip:is([tip-position="top"], [tip-position="block-start"], :not([tip-position])) {
  inset-inline-start: 50%;
  inset-block-end: calc(100% + var(--_p-block) + var(--_triangle-size));
}

#tool-tip:is([tip-position="right"], [tip-position="inline-end"]) {
  inset-inline-start: calc(100% + var(--_p-inline) + var(--_triangle-size));
  inset-block-end: 50%;
  --_y: 50%;
}

#tool-tip:is([tip-position="bottom"], [tip-position="block-end"]) {
  /* inset-inline-start: 0%; */
  inset-block-start: calc(100% + var(--_p-block) + var(--_triangle-size));
}

#tool-tip:is([tip-position="left"], [tip-position="inline-start"]) {
  inset-inline-end: calc(100% + var(--_p-inline) + var(--_triangle-size));
  inset-block-end: 50%;
  --_y: 50%;
}

#tool-tip {
  opacity: 0;
  transform: translateX(var(--_x, 0)) translateY(var(--_y, 0));
  transition: opacity .2s ease, transform .2s ease;
}