.Extractor-Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Extractor-Form .text-input {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--txt-main);
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.9px;
}
.Extractor-Form .text-input__label {
  font-weight: 500;
}
.Extractor-Form .primary-button {
  width: 80px;
  height: 28px;
  border-radius: 8px;
}
.Extractor-Form__error-message {
  font-size: 14px;
  color: #C1292E;
}
.image-input {
  position: relative;
  width: 480px;
  height: 180px;
  border-radius: 8px;
  padding: 20px;
  border: 2px dashed var(--txt-inactive);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txt-inactive);
}
.image-input--dragging-over {
  border-color: #5BC3EB;
  color: #5BC3EB;
}
.image-input__placeholder {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.image-input__icon {
  font-size: 3.4rem;
}

.file-input {
  cursor: pointer;
}