.Form {
  grid-area: main;
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 20px;
  color: var(--txt-main);
}
.error {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d70444;
  font-size: 1.4rem;
  font-weight: 400;
}
.Form__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  text-align: start;
}
.Form__label {
  text-transform: capitalize;
}
.Form__input {
  padding: 8px 10px;
}
.Form .Form__input--invalid,
.Form .Form__input--invalid:focus-visible {
  border: 2px solid #d70444; 
  /* #D6223D */
}
.Form .Primary-Button {
  width: 100%;
  font-size: 1.5rem;
}
.Form .Primary-Button::before {
  height: 260px;
}