.gradient {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 51px 420px;
  grid-template-areas: 
  "header"
  "generator";
  gap: 100px;
}
.gradient__generator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.setup {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.setup__head {
  display: flex;
  gap: 30px;
}
.setup .types {
  width: 188px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px;
  list-style: none;
}
.type {
  position: relative;
  width: 70px;
  height: 50px;
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--txt-main);
  font-size: 2.4rem;
  letter-spacing: 0.2px;
}
.type--active {
  background: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.type__name {
  font-size: 1.2rem;
}
.angle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px
}
.angle__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 1.2rem;
}
.angle__number {
  width: 50px;
  height: 30px;
  text-align: center;
}
.setup .edit {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px
}
.edit__current {
  margin-inline-end: 14px;
  border: 1px solid var(--txt-inactive);
}
.edit__button {
  width: 84px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px;
  background: transparent;
  color: var(--txt-main);
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}
.edit__text {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.setup .row {
  width: auto;
  height: 50px;
  display: flex;
  gap: 18px;
}
.row__color,
.row-color {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: grab;
}
.row__color--add {
  background: transparent;
  border: 1px solid var(--txt-inactive);
  padding: 0;
  font-size: 1.6rem;
  cursor: pointer;
}
.setup .re-order {
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px
}
.gradient__view {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.view {
  width: 100%;
  min-height: 338px;
  height: 100%;
  display: block;
  border-radius: 12px;
  overflow: hidden;
}
.view--grid {
  position: relative;
}
.view--grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mask-image: linear-gradient(to bottom, transparent 50%, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent 30%, black);
  background: var(--grid-background);	
}
.slider {
  width: 100%;
  height: fit-content;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.custom-slider {
  position: relative;
  width: 100%;
  height: 14px;
  border: 1px solid var(--main-inactive);
  border-radius: 8px;
  z-index: 0;
}
.custom-slider__thumb {
  position: absolute;
  bottom: -1px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--main-inactive);
  border-radius: 50%;
  cursor: grab;
}
.custom-slider__thumb::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  background-color: var(--main);
  border-radius: 50%;
  border: 1px solid var(--main-inactive);
  z-index: -1;
}
.custom-slider__thumb:active {
  cursor: grabbing;
}
