.gradient {
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 80px;
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--txt-inactive);
  border-radius: 10px;
  border: 3px solid var(--main);
}
::-webkit-scrollbar-corner {
  display: none;
}

.gradient .generator {
  width: 100%;
  max-width: 1050px;
  height: fit-content;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 40px;
  margin: 0 auto;
}
.setup {
  grid-area: setup;
  width: fit-content;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-inline: 20px;
}

.setup .mode {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.setup__head {
  display: flex;
  gap: 30px;
}

.setup .types {
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  padding: 18px;
  list-style: none;
}
.type {
  position: relative;
  width: 70px;
  height: 50px;
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--txt-main);
  font-size: 2.4rem;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.type:disabled {
  color: var(--txt-inactive);
}
.type--active,  
.type:enabled:hover {
  color: #5BC3EB;
}
.type__name {
  font-size: 1.2rem;
}

.angle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px
}
.angle__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 1.2rem;
}
.angle__number {
  width: 50px;
  height: 30px;
  text-align: center;
}

.setup .edit {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 8px
}
.edit__current {
  border: 1px solid var(--txt-inactive);
}
.edit .secondary-button {
  width: 78px;
}
.edit__text {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.setup .re-order {
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px
}
.setup .row {
  width: auto;
  height: fit-content;
  display: flex;
  gap: 18px;
}
.row__color,
.row-color {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.row__color--add {
  background: transparent;
  border: 1px solid var(--txt-inactive);
  padding: 0;
  font-size: 1.6rem;
  cursor: pointer;
}
.row__color--add:hover {
  border-color: #5BC3EB;
  color: #5BC3EB;
}

.gradient .timing {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.timing__label {
  font-size: 1.3rem;
  letter-spacing: 0.2px;
}
.timing .Select {
  width: 140px;
  height: 33px;
}
.timing .Select__toggle-button {
  height: 100%;
  align-items: center;
}

.gradient .speed {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 1.3rem;
  font-weight: 500;
}
.speed__input {
  -webkit-appearance: none;
  appearance: none; 
  width: 220px;
  height: 20px;
  border-radius: 16px;
  background: var(--main);
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.speed__input::-webkit-slider-runnable-track {
  height: 100%;
  background: var(--main);
  border-radius: 16px;
}
.speed__input::-moz-range-track {
  height: 100%;
  background: var(--main);
  border-radius: 16px;
}
.speed__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 20px;
  width: 20px;
  background-color: var(--txt-main);
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #5BC3EB;
  box-shadow: -407px 0 0 400px #5BC3EB;
}
.speed__input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 20px;
  width: 20px;
  background-color: var(--txt-main);
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #5BC3EB;
  box-shadow: -407px 0 0 400px #5BC3EB;
}

.gradient__view {
  grid-area: view;
  width: 100%;
  max-width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 20px;
}
.save-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.save-container .secondary-button {
  display: flex;
  align-items: center;
  gap: 18px;
  /* width: 130px; */
  width: fit-content;
  font-size: 1.4rem;
}
.save-container .icon {
  font-size: 2rem;
}
.view {
  position: relative;
  width: 100%;
  max-width: 480px;
  min-height: 380px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 8px;
  overflow: hidden;
}
.view__canvas {
  position: absolute;
  min-width: 100%;
  width: 100%;
  min-height: 300px;
  height: 100%;
  display: block;
  background: var(--d-background);
  background-size: var(--my-backsize);
}
.view__canvas--grid {
  position: relative;
}
.view__canvas--grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mask-image: linear-gradient(to bottom, transparent 50%, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent 30%, black);
  background: var(--grid-background);
  background-size: var(--my-backsize);
  animation: var(--my-animation);
}
.slider {
  width: 100%;
  height: 44px;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.custom-slider {
  position: relative;
  width: 100%;
  height: 14px;
  border: 1px solid var(--main-inactive);
  border-radius: 8px;
  z-index: 0;
}
.custom-slider__thumb {
  position: absolute;
  bottom: -1px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--main-inactive);
  border-radius: 50%;
}
.custom-slider__thumb::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  background-color: var(--main);
  border-radius: 50%;
  border: 1px solid var(--main-inactive);
  z-index: -1;
}

.setup .types,
.setup .angle,
.setup .edit,
.setup .re-order,
.setup .timing,
.setup .speed {
  padding: 20px;
  border: none;
  background-color: #1E2029;
  border-radius: 14px;
}

.gradient .css {
  grid-area: css;
  width: 100%;
  max-width: 1050px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding-inline: 20px;
}
.gradient .css__code {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.gradient .css__code .primary-button {
  height: 110px;
  width: 44px;
}
.gradient .css__code .primary-button span{
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.css ::-webkit-scrollbar-track {
  margin: 10px;
}
.css ::-webkit-scrollbar-thumb {
  border-color: #1E2029;
}

@media (min-width: 820px) {
  .gradient {
    grid-template-rows: 68px 418px 1fr;
    gap: 80px;
    overflow-y: overlay;
  }
  .gradient .generator {
    width: 80%;
    height: 500px;
    flex-direction: row;
  }
  .setup {
    padding: 0px;
  }
  .angle {
    flex-direction: row;
  }
  .gradient__view {
    height: 100%;
    min-height: 100%;
    padding: 0px;
  }
  .view {
    min-height: 426px;
    /* height: 90%; */
  }
  .gradient .css {
    width: 80%;
    padding: 0;
  }
}
@media (min-width: 900px) {
  .gradient .generator {
    column-gap: 80px;
  }
}

@keyframes horizontal {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@-o-keyframes horizontal {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@-moz-keyframes horizontal {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@-webkit-keyframes horizontal {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes vertical {
  0% { background-position: 50% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 50% 0% }
}
@-o-keyframes vertical {
  0% { background-position: 50% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 50% 0% }
}
@-moz-keyframes vertical {
  0% { background-position: 50% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 50% 0% }
}
@-webkit-keyframes vertical {
  0% { background-position: 50% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 50% 0% }
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@-o-keyframes spin {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@-moz-keyframes spin {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@-webkit-keyframes spin {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}