.gradient {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 68px 418px 1fr;
  grid-template-areas:
  "header"
  "generator"
  "css";
  gap: 80px;
  padding-bottom: 80px;
  overflow-y: auto;
  overflow-x: hidden;
}
.gradient::-webkit-scrollbar {
  width: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: transparent;
}
.gradient::-webkit-scrollbar-thumb {
  background: var(--txt-inactive);
  border-radius: 10px;
  border: 3px solid var(--main);
}
.gradient::-webkit-scrollbar-track {
  margin: 10px;
}

.gradient .generator {
  display: grid;
  align-items: center;
  align-self: center;
  justify-content: center;
  grid-template-columns: auto 40%;
  grid-template-rows: 1fr;
  grid-template-areas:
  "setup view";
  column-gap: 80px;
}
.setup {
  grid-area: setup;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.setup__head {
  display: flex;
  gap: 30px;
}

.setup .types {
  width: 188px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px;
  list-style: none;
}
.type {
  position: relative;
  width: 70px;
  height: 50px;
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--txt-main);
  font-size: 2.4rem;
  letter-spacing: 0.2px;
}
.type--active {
  background: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.type__name {
  font-size: 1.2rem;
}

.angle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px
}
.angle__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 1.2rem;
}
.angle__number {
  width: 50px;
  height: 30px;
  text-align: center;
}

.setup .edit {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px
}
.edit__current {
  margin-inline-end: 14px;
  border: 1px solid var(--txt-inactive);
}
.edit__button {
  width: 84px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px;
  background: transparent;
  color: var(--txt-main);
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}
.edit__text {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.setup .re-order {
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 18px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px
}
.setup .row {
  width: auto;
  height: fit-content;
  display: flex;
  gap: 18px;
}
.row__color,
.row-color {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: grab;
}
.row__color--add {
  background: transparent;
  border: 1px solid var(--txt-inactive);
  padding: 0;
  font-size: 1.6rem;
  cursor: pointer;
}

.view-types {
  width: fit-content;
  grid-area: view-type;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  font-size: 1.4rem;
  padding: 12px 40px;
  background-color: #23252F;
  border-radius: 14px;
}
.type-button {
  width: 100px;
  height: 40px;
  padding: 0;
  border-radius: 8px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.view-types .Secondary-Button {
  width: 82px;
  height: 40px;
  border: 1px solid var(--txt-inactive);
  font-size: 1.3rem;
}
.view-types .secondary-button--active {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  background:
    linear-gradient(var(--main) 0 0) padding-box,
    var(--gradient-primary) border-box; 
}

.gradient__view {
  grid-area: view;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.view {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  overflow: hidden;
}
.view--grid {
  position: relative;
}
.view--grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mask-image: linear-gradient(to bottom, transparent 50%, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent 30%, black);
  background: var(--grid-background);
}
.slider {
  width: 100%;
  height: fit-content;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.custom-slider {
  position: relative;
  width: 100%;
  height: 14px;
  border: 1px solid var(--main-inactive);
  border-radius: 8px;
  z-index: 0;
}
.custom-slider__thumb {
  position: absolute;
  bottom: -1px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--main-inactive);
  border-radius: 50%;
  cursor: grab;
}
.custom-slider__thumb::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  background-color: var(--main);
  border-radius: 50%;
  border: 1px solid var(--main-inactive);
  z-index: -1;
}
.custom-slider__thumb:active {
  cursor: grabbing;
}

.gradient .Header {
  background-color: #00CECB;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.gradient .Header::after {
  content: none;
}
.gradient .Header .logo {
  color: var(--main);
  -webkit-text-fill-color: var(--main);
}
.gradient .Header .nav-link {
  color: var(--main);
  font-weight: 600;
}
.gradient .Header .button-icon {
  color: var(--main);
}
.setup .types,
.setup .angle,
.setup .edit,
.setup .re-order {
  border: none;
  background-color: #1A1C23;
  border-radius: 14px;
}

.gradient .css {
  width: 88%;
  max-width: 1050px;
  margin: 0 auto;
}
.gradient .css pre::-webkit-scrollbar-track {
  margin: 8px;
  width: 20px;
}
.gradient .css pre::-webkit-scrollbar {
  height: 18px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #1A1C23;
}
.gradient .css pre::-webkit-scrollbar-thumb {
  background: var(--txt-inactive);
  border-radius: 10px;
  border: 7px solid #1A1C23;
}