.user-select {
  position: absolute;
  top: 100%;
  right: 0%;
  min-width: 140px;
  width: fit-content;
  margin-top: 6px;
  background: #1E2029;
  border-radius: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  list-style: none;
  box-shadow: 2px 2px 18px rgba(0,0,0,0.8);
  overflow: hidden;
  z-index: 1;
}
.user-select__option {
  width: 100%;
  padding: 10px 20px;
}
.user-select__option:hover {
  background: #5BC3EB;
  color: var(--main);
}