.Header {
  grid-area: header;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.Header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  display: block;
  background: var(--gradient-primary);
}
.Header .logo {
  margin-left: 52px;
}
.user-nav {
  margin-right: 52px;
}
.user-nav__list,
.header-nav__list {
  display: flex;
  gap: 34px;
  list-style: none;
}
.user-nav__list .Secondary-Button {
  width: 90px;
  height: 30px;
}
.user-nav__item,
.header-nav__item {
  position: relative;
  display: flex;
  align-items: center;
}
.user-nav__avatar {
  width: 40px;
  height: 40px;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}
.avatar {
  display: block;
  width: inherit;
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button-icon {
  background: transparent;
  font-size: 2.5rem;
  padding: 0px;
  color: var(--txt-main);
}
.nav-link {
  text-decoration: none;
  color: var(--txt-main);
}
.header-nav__item {
  font-size: 1.6rem;
  font-weight: 500;
  padding:  8px 14px;
}

.avatar-icon {
  width: 50px;
  height: 50px;
  background-image: url('../assets/avatars/bear.png');
  background-position: center;
  background-size: contain;
}
.avatar-bear {
  background-image: url('../assets/avatars/bear.png');
}
.avatar-bee {
  background-image: url('../assets/avatars/bee.png');
}
.avatar-bull {
  background-image: url('../assets/avatars/bull.png');
}
.avatar-cat {
  background-image: url('../assets/avatars/cat.png');
}
.avatar-chicken {
  background-image: url('../assets/avatars/chicken.png');
}
.avatar-frog {
  background-image: url('../assets/avatars/frog.png');
}
.avatar-gorilla {
  background-image: url('../assets/avatars/gorilla.png');
}
.avatar-hedgehog {
  background-image: url('../assets/avatars/hedgehog.png');
}
.avatar-jaguar {
  background-image: url('../assets/avatars/jaguar.png');
}
.avatar-jellyfish {
  background-image: url('../assets/avatars/jellyfish.png');
}
.avatar-lizard {
  background-image: url('../assets/avatars/lizard.png');
}
.avatar-orangutan {
  background-image: url('../assets/avatars/orangutan.png');
}
.avatar-owl {
  background-image: url('../assets/avatars/owl.png');
}
.avatar-penguin {
  background-image: url('../assets/avatars/penguin.png');
}
.avatar-pig {
  background-image: url('../assets/avatars/pig.png');
}
.avatar-polar-bear {
  background-image: url('../assets/avatars/polar-bear.png');
}
.avatar-rabbit {
  background-image: url('../assets/avatars/rabbit.png');
}
.avatar-walrus {
  background-image: url('../assets/avatars/walrus.png');
}
.avatar-wolf {
  background-image: url('../assets/avatars/wolf.png');
}