.hint {
  position: absolute;
  bottom: -300px;
  width: fit-content;
  height: 90px;
  padding: 0 50px;
  border-radius: 26px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1E2029;
  box-shadow:  8px 8px 20px #08090C;
  border: none;
  z-index: 5;
  animation: hint-animation 6s;
}

.hint__text {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  font-size: 1.6rem;
  font-weight: 500;
}
.hint__text strong {
  color: #5BC3EB;
  font-weight: 500;
}
.hint__icon {
  color: #5BC3EB;
  font-size: 3.4rem;
}


@keyframes hint-animation {
  0% {
    bottom: -300px;
  }
  30% {
    bottom: 50px;
  }
  90% {
    bottom: 50px;
  }
  100% {
    bottom: -300px;
  }
}