.Image-Canvas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.extracted-colors {
  width: 100%;
  height: fit-content;
  display: flex;
}
.extracted-colors__color {
  width: 100%;
  height: 24px;
  border-radius: 0;
  padding: 0;
  border: none;
}
.extracted-colors__color:first-child {
  border-top-left-radius: 8px;
}
.extracted-colors__color:last-child {
  border-top-right-radius: 8px;
}
.extracted-colors__name {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  display: none;
}
.extracted-colors__color:hover .extracted-colors__name {
  display: inline;
}
.canvas {
  position: relative;
  width: 100%;
  height: 400px;
  user-select: none;
}
.canvas__image {
  width: 100%;
  height: 100%;
  margin: '0 auto'
}
.canvas__thumb {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../assets/icons/pickerThumb.svg");
  padding: 0;
  border: none;
}
.config {
  display: flex;
  justify-content: space-between;
}
.config__button {
  width: 120px;
  border: 1px solid var(--txt-inactive);
  border-radius: 8px;
  padding: 12px 0;
  background: transparent;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}
.config__button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.config__button .icon {
  font-size: 2rem;
}
.extractor-input {
  display: flex;
  align-items: center;
  gap: 16px;
}
.extractor-input #quantity {
  width: 40px;
  text-align: center;
}
.extractor-input .quantity-label {
  font-size: 1.4rem;
  letter-spacing: 0.8px;
}
.extractor-input #quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}