main .Image-Color-Extractor {
  width: 640px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 60px 40px 40px;
}
.Image-Color-Extractor .close-button {
  position: absolute;
  top: 20px;
  right: 40px;
}
#url,
#quantity {
  height: 28px;
  padding: 4px 10px;
  color: var(--txt-main);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--txt-main);
  -webkit-box-shadow: 0 0 0px 40rem var(--main) inset;
  border: 1px solid var(--txt-main) !important;
}