.Image-Canvas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 10px;
}
.extracted-colors {
  width: 100%;
  height: fit-content;
  display: flex;
  border: 1px solid var(--main-inactive);
  border-radius: 6px;
  overflow: hidden;
}
.extracted-colors__color {
  width: 100%;
  height: 24px;
  padding: 0;
  border: none;
}
.extracted-colors__name {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  display: none;
}
.extracted-colors__color:hover .extracted-colors__name {
  display: inline;
}
.canvas {
  position: relative;
  width: 100%;
  height: 400px;
  user-select: none;
}
.canvas__image {
  width: 100%;
  height: 100%;
  margin: '0 auto'
}
.canvas__thumb {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../assets/icons/pickerThumb.svg");
  padding: 0;
  border: none;
}
.Image-Canvas .config {
  display: flex;
  justify-content: space-between;
}
.Image-Canvas .config__button {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border: 1px solid var(--txt-inactive);
  border-radius: 10px;
  background: transparent;
  color: var(--txt-main);
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}
.Image-Canvas .config__button:hover,
.Image-Canvas .config__button--active {
  border-color: #5BC3EB;
  color: #5BC3EB;
}
.Image-Canvas .config__button .icon {
  font-size: 1.8rem;
}
.extractor-input {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--txt-main);
}
.extractor-input #quantity {
  width: 40px;
  text-align: center;
  border-radius: 6px;
}
.extractor-input .quantity-label {
  font-size: 1.4rem;
  letter-spacing: 0.8px;
}
.extractor-input #quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loading {
  font-size: 3.4rem;
  letter-spacing: 5px;
  margin: 100px auto;
  color: (--txt-main);
}
.Draggable-Modal .config {
  position: relative;
  justify-content: initial;
  gap: 14px;
}