.Image-Canvas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Image-Canvas .colors-container {
  width: 100%;
  height: fit-content;
  display: flex;
}
.Image-Canvas .color {
  width: 100%;
  height: 24px;
  border-radius: 0;
  padding: 0;
  border: none;
}
.Image-Canvas .color:first-child {
  border-top-left-radius: 4px;
}
.Image-Canvas .color:last-child {
  border-top-right-radius: 4px;
}
.extractor-input {
  display: flex;
  align-items: center;
  gap: 16px;
}
.extractor-input #quantity {
  width: 40px;
  text-align: center;
}
.extractor-input .quantity-label {
  font-size: 1.4rem;
  letter-spacing: 0.8px;
}
.extractor-input #quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.canvas-container {
  position: relative;
  width: 100%;
  height: 400px;
  user-select: none;
}
.canvas-container .image {
  width: 100%;
  height: 100%;
  margin: '0 auto'
}
.canvas-container .icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../assets/icons/pickerThumb.svg");
}
.config-container {
  display: flex;
  justify-content: space-between;
}
.config-container .config-button {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(232, 233, 243, 0.4);
  border-radius: 8px;
  padding: 12px 0;
  background: transparent;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}
.config-container .config-button:hover,
.config-container .config-button--active {
  color: #42D37A;
  border: 1px solid #42D37A;
}
.config-container .config-button .icon {
  font-size: 2rem;
}