main .Image-Color-Extractor {
  width: 640px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
#url,
#quantity {
  height: 28px;
  padding: 4px 10px;
}
#url:focus-visible,
#quantity:focus-visible {
  border-color: transparent;
  border-width: 2px;
  background:
    linear-gradient(var(--main) 0 0) padding-box,
    var(--gradient-secondary) border-box; 
}