.OptionsBar {
  position: fixed;
  top: 98px;
  left: -290px;
  width: 240px;
  height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  margin-left: 30px;
  border-radius: 18px;
  background: #1E2029;
  color: var(--txt-main);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  overflow: hidden;
  z-index: 2;
}
.OptionsBar .close-button {
  align-self: flex-end;
}
.OptionsBar .options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  list-style: none;
}
.OptionsBar .option {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  cursor: pointer;
}

.OptionsBar .option--active,
.OptionsBar .option:hover {
  color: #5BC3EB;
  background: rgba(255,255,255, 0.1);
}

.OptionsBar .option .icon {
  font-size: 2.2rem;
}

.fade-in {
  animation: fadeInFromLeft 1s forwards;
}
.fade-out {
  animation: fadeOutToLeft 1s forwards;
}
.OptionsBar .Secondary-Button {
  width: 120px;
}

@keyframes fadeInFromLeft {
  from {
    left: -290px;
  }
  to {
    left: 0px;
  }
}

@keyframes fadeOutToLeft {
  from {
    left: 0px;
  }
  to {
    left: -290px;
  }
}