* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

#root {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.Palette-Generator {
  position: relative;
  display: flex;
  height: calc(100vh - 33px);
  grid-area: main;
}