.Palette-Generator {
  grid-area: main;
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--main);
  gap: 10px;
}
.palette-layout {
  height: calc(100vh - 68px);
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "sidebar main";
  gap: 27px;
  padding: 27px;
  text-align: center;
}
.palette-layout .user-select::before {
  display: none;
}
.palette-layout .user-select__mask {
  box-shadow: 2px 2px 10px rgba(4,4,4, 0.8);
}