.Primary-Button {
  position: relative;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  background: transparent;
  color: var(--main);
  font-size: 1.4rem;
  letter-spacing: 0.4px;
}
.Primary-Button__content {
  z-index: 1;
}
.Primary-Button::before {
  content: "";
  position: absolute;
  display: block;
  width: 110%;
  height: 150px;
  border-radius: inherit;
  background: var(--gradient-secondary);
  pointer-events: none;
  z-index: 0;
}

:is(.Primary-Button:hover)::before {
  background: -webkit-linear-gradient(left, #03BCCC, #2FD312);

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  -o-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{transform: rotate(0)}
  
  100%{transform: rotate(360deg)}
}
@-moz-keyframes AnimationName {
  0%{transform: rotate(0)}
  
  100%{transform: rotate(360deg)}
}
@-o-keyframes AnimationName {
  0%{transform: rotate(0)}
  
  100%{transform: rotate(360deg)}
}
@keyframes AnimationName {
  0%{transform: rotate(0)}
  
  100%{transform: rotate(360deg)}
}