.Profile-Nav {
  grid-area: nav;
  width: 100%;
  height: 100%;
  padding: 98px 40px;
  padding-left: 0px;
}

.nav-container {
  position:sticky;
  top: 40px;
  width: 100%;
  height: fit-content;
  background: #1E2029;
  border-radius: 14px;
}
.nav {
  width: inherit;
  height: inherit;
  padding: 40px 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav__button {
  padding: 12px 14px;
  display: block;
  border-radius: 14px;
  background-color: transparent;
  color: var(--txt-main);
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  text-decoration: none;
}
.nav__button--active,
.nav__button:hover {
  color: #5BC3EB;
  background: #232633;
}
