.range-input {
  width: 100%;
  height: 11px;
  border: none;
  border-radius: 10px;
  appearance: none;
}

.range-input::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../assets/icons/pickerThumb.svg');
  cursor: grab;
  background-color: var(--thumb-background);
}

.range-input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.hue-input {
  background: -webkit-linear-gradient(left, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
}

.color-input {
  background: var(--background-color);
}

.text-input-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
}
.text-input {
  display: flex;
  align-items: center;
  gap: 8px;
}
.text-input__label {
  font-size: 1.2rem;
  letter-spacing: 1.4px;
}
.text-input__box {
  width: fit-content;
  max-height: 33px;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-radius: 8px;
  border: 1px solid var(--txt-inactive);
  font-size: 1.2rem;
  text-align: center;
}
.text-input__box::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.readonly-message {
  position: absolute;
  top: 50px;
  font-size: 1.4rem;
  color: #F9C846;
  display: flex;
  gap: 10px;
}
.readonly-message .icon {
  font-size: 2rem;
}
.values-container {
  display: flex;
  gap: 20px;
}
.values-container .element {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  cursor: default;
}
.values-container .text-box {
  max-height: 33px;
  width: 44px;
  border-radius: 8px;
  border: 1px solid var(--txt-inactive);
  padding: 5px 0;
}