.toggle-button {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  background: transparent;
}
.options-box {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}