.Select {
  position: relative;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #5BC3EB;
}
.Select__toggle-button {
  width: 100%;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 0;
  background: transparent;
  display: grid;
  grid-template-areas: "value arrow-icon";
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr;
  color: var(--main);
}
.Select .current-value {
  grid-area: value;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.Select .current-value span {
  width: 100%;
}
.Select .current-value .icon {
  font-size: 2rem;
}
.Select__toggle-button .icon-arrow {
  grid-area: arrow-icon;
  font-size: 2rem;
}
.box {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 100%;
  width: auto;
  height: auto;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.box__mask {
  border-radius: 8px;
  overflow: hidden;
  overflow-y: auto;
}
.box__mask {
  box-shadow: 2px 2px 18px rgba(0,0,0,0.8);
}
.box__mask::-webkit-scrollbar-track {
  background: #1E2029;
}

.box__option {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 14px;
  
  border-bottom: 1px solid transparent;
  border-color: transparent;
  background: #1E2029;
  color: var(--txt-main);
  text-transform: capitalize;
}
.box__option:hover {
  background: #5BC3EB;
  color: var(--main);
}
.box__option .icon {
  font-size: 2rem;
}
.box__option .content {
  width: 100%;
}