.SideBar {
  grid-area: sidebar;
  width: 100%;
  height: 100%;
  background-color: var(--main);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  z-index: 2;
}

.SideBar__nav {
  position: relative;
  height: 100%  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.SideBar .option {
  padding: 0;
  padding: 12px 10px;
  background-color: transparent;
  border: none;
  color: var(--txt-main);
}
.SideBar .option:disabled {
  color: var(--txt-inactive);
}
.SideBar .option__icon {
  font-size: 2.5rem;
}
:is(.SideBar .option:enabled):hover .option__icon {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}