.SignLayer {
  width: 100vw;
  height: 100vh;
  display: grid;
  background: var(--main);
  place-items: center;
}
.SignLayer__container {
  width: 380px;
  height: fit-content;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: 70px auto 1fr;
  gap: 40px;
  padding: 60px 40px;
  background: #1E2029;
  border-radius: 18px;
  text-align: center;
}
.SignLayer .logo {
  color: #5BC3EB;
}
.SignLayer__header {
  grid-area: header;
}
.SignLayer__container .logo {
  font-size: 6rem;
}
.Sign__subtitle {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #5BC3EB; 
  line-height: 0.1em;
  margin: 10px 0 30px; 
  font-size: 1.4rem;
} 
.Sign__options {
  margin-top: 20px;
}
.sign-options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Sign__subtitle span { 
  background-color: #1E2029;
  color: #5BC3EB;
  padding:0 10px; 
}
.google-sign,
.facebook-sign,
.github-sign {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--txt-inactive);
}
.google-sign:hover,
.facebook-sign:hover,
.github-sign:hover {
  border-color: #5BC3EB;
}
.sm-icon {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}
.google-icon {
  background-image: url('../assets/icons/google.svg');
}
.facebook-icon {
  background-image: url('../assets/icons/facebook.svg');
}
.github-icon {
  width: 20px;
  background-size: contain;
  background-image: url('../assets/icons/github.svg');
}
.SignLayer .loader-container {
  grid-area: main;
  display: grid;
  align-items: center;
  background-color: var(--main);
  z-index: 1;
}
.SignLayer .loader {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  background-image: url('../assets/icons/loader.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.SignLayer .main {
  grid-area: main;
}

.SignLayer .primary-button {
  width: 100%;
  height: 33px;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}