.Table {
  width: 510px;
  margin: 0 auto;
  table-layout: fixed;
  color: var(--txt-main);
  letter-spacing: 0.8px;
}
.Table th,
.Table td {
  width: 170px;
  max-width: 140px;
}
.Table th {
  padding: 14px;
  font-size: 1.5rem;
  font-weight: 600;
}
.Table td {
  padding: 8px;
  font-size: 1.4rem;
  font-weight: 400;
}

.Table .icon {
  margin-right: 10px;
  font-size: 2.4rem;
  vertical-align: middle;
}
.Table .icon-rounded-check {
  color: #2a7;
}