.Tooltip {
  position: absolute;
  bottom: 20px;
  left: -450px;
  display: none;
  width: fit-content;
  max-width: 200px;
  height: fit-content;
  padding: 16px 28px;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 40px;
  background-color: var(--txt-main);
  color: var(--main);
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}

.Tooltip--active {
  display: block;
  animation: tooltip-animation 7s;
}

@keyframes tooltip-animation {
  0% {
    left: -450px;
  }
  20% {
    left: 0px;
  }
  80% {
    left: 0px;
  }
  100% {
    left: -450px;
  }
}