/* Horizontal item */
.user-palettes .items__list--horizontal .item__color,
.basic-palettes .items__list--horizontal .item__color {
  width: 50%;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out
}
.user-palettes .items__list--horizontal .item__color:hover,
.basic-palettes .items__list--horizontal .item__color:hover {
  width: 280px;
}
/* Vertical item */
.user-palettes .items__list--vertical .item__color {
  height: 50%;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out
}
.user-palettes .items__list--vertical .item__color:hover {
  height: 300px;
}
/* Circle item */
.user-palettes .items__list--circle .item__color {
  height: 50%;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out
}
.user-palettes .items__list--circle .item__color:first-child {
  padding-top: 30px;
  padding-left: 30px;
}
.user-palettes .items__list--circle .item__color:last-child {
  padding-left: 30px;
}
.user-palettes .items__list--circle .item__color:hover {
  height: 260px;
}