@font-face {
  font-family: "icomoon";
  src: url("/fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  user-select: none;
  pointer-events: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-circle:before {
  content: "\e902";
}
.icon-clipboard:before {
  content: "\e903";
}
.icon-contrast:before {
  content: "\e904";
}
.icon-eye:before {
  content: "\e905";
}
.icon-eye-dropper:before {
  content: "\e906";
}
.icon-hash:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-heart-filled:before {
  content: "\e909";
}
.icon-image:before {
  content: "\e90a";
}
.icon-info-filled:before {
  content: "\e90b";
}
.icon-locked:before {
  content: "\e90c";
}
.icon-move:before {
  content: "\e90d";
}
.icon-palette:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-rectangle-h:before {
  content: "\e910";
}
.icon-rectangle-v:before {
  content: "\e911";
}
.icon-redo:before {
  content: "\e912";
}
.icon-check-filled:before {
  content: "\e913";
  @apply w-5 h-5 flex items-center justify-center rounded-full shadow-[inset_0_3px_12px_#33ff8173,inset_0_-2px_4px_#d6ffe673];
  background-image: radial-gradient(circle, #14ff6e73, #73ffa973 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.icon-x-filled:before {
  content: "\e914";
  @apply w-5 h-5 flex items-center justify-center rounded-full shadow-[inset_0_3px_12px_#ff335c73,inset_0_-2px_4px_#ff618173];
  background-image: radial-gradient(circle, #ff144373, #ff738f73 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.icon-share:before {
  content: "\e915";
}
.icon-undo:before {
  content: "\e916";
}
.icon-unlocked:before {
  content: "\e917";
}
.icon-warning:before {
  content: "\e918";
}
.icon-x:before {
  content: "\e919";
}
.icon-reset:before {
  content: "\e91a";
}
.icon-cone:before {
  content: "\e91b";
}
.icon-angle:before {
  content: "\e91c";
}
.icon-gradient-conic:before {
  content: "\e91d";
}
.icon-gradient-horizontal:before {
  content: "\e91e";
}
.icon-gradient-vertical:before {
  content: "\e91f";
}
.icon-gradient-circle:before {
  content: "\e920";
}
.icon-move-circle:before {
  content: "\e921";
}
.icon-shuffle:before {
  content: "\e922";
}
.icon-code:before {
  content: "\e923";
}
.icon-animation:before {
  content: "\e924";
}
.icon-download:before {
  content: "\e925";
}
.icon-font:before {
  content: "\e926";
}
.icon-save:before {
  content: "\e927";
}
.icon-upload:before {
  content: "\e928";
}
.icon-check-round:before {
  content: "\e929";
}
.icon-danger:before {
  content: "\e92a";
}
.icon-danger-filled:before {
  content: "\e92b";
}
.icon-info:before {
  content: "\e92c";
}
.icon-x-round:before {
  content: "\e92d";
}
