@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*[tooltip="true"] {
  @apply relative;
}
*[tooltip="true"]::after {
  content: attr(tooltip-content);
  inline-size: max-content;
  @apply absolute top-1/2 left-[calc(100%+15px)] opacity-0 h-fit px-3 py-2 rounded-lg bg-secondary text-main text-sm -translate-y-1/2 z-[100000] shadow-3xl transition-opacity delay-0 duration-300 pointer-events-none select-none;
}
*[tooltip="true"]:hover::after {
  @apply opacity-100 delay-500;
}
*[tooltip="true"]::before {
  content: "";
  @apply absolute opacity-0 top-1/2 left-[calc(100%+9px)] w-0 h-0 transition-opacity delay-0 duration-300 pointer-events-none select-none -translate-y-1/2 z-[100001];
}
*[tooltip="true"]:hover::before {
  @apply opacity-100 delay-500;
}
*[tooltip="true"]:is([tooltip-position="left"])::before {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 6px solid #cdcdcd;
}
