@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.primary-active {
  & > *:first-child {
    @apply text-tertiary text-shadow-active relative pb-1 after:absolute after:left-0 after:top-[100%] after:w-full after:h-[2px] after:bg-tertiary after:opacity-80 after:transition-all after:shadow-active;
  }
}
.secondary-active {
  @apply text-tertiary text-shadow-active;
}
.primary-hover {
  &:hover > *:first-child,
  &:active > *:first-child,
  &:focus-visible > *:first-child {
    @apply text-tertiary text-shadow-active;
  }
}
.primary-hover {
  & > a {
    @apply relative pb-1 after:absolute after:left-0 after:top-[100%] after:w-0 after:h-[2px] after:bg-tertiary after:opacity-80 after:transition-all after:shadow-active;
  }
  &:hover > a {
    @apply after:w-full;
  }
}
.secondary-hover:hover {
  & p:first-child,
  & spang:first-child {
    @apply text-tertiary text-shadow-active;
  }
}

*[tooltip="true"] {
  @apply relative;
}
*[tooltip="true"]::after {
  content: attr(tooltip-content);
  inline-size: max-content;
  text-shadow: none;
  @apply absolute opacity-0 h-fit px-3 py-2 rounded-lg bg-[#f4f1f2] text-main text-sm z-[100000] shadow-3xl transition-opacity delay-0 duration-300 pointer-events-none select-none;
}
*[tooltip="true"]:is([tooltip-position="left"])::after {
  @apply top-1/2 left-[calc(100%+15px)] -translate-y-1/2;
}
*[tooltip="true"]:is([tooltip-position="bottom"])::after {
  @apply left-1/2 top-[calc(100%+15px)] -translate-x-1/2;
}
*[tooltip="true"]:hover::after {
  @apply opacity-100 delay-500;
}
*[tooltip="true"]::before {
  content: "";
  @apply absolute opacity-0  w-0 h-0 transition-opacity delay-0 duration-300 pointer-events-none select-none z-[100001];
}
*[tooltip="true"]:is([tooltip-position="left"])::before {
  @apply top-1/2 left-[calc(100%+10px)] -translate-y-1/2;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 6px solid #f4f1f2;
}

*[tooltip="true"]:is([tooltip-position="bottom"])::before {
  @apply left-1/2 top-[calc(100%+9px)] -translate-x-1/2;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #f4f1f2;
}
*[tooltip="true"]:hover::before {
  @apply opacity-100 delay-500;
}

/* BUTTONS */
button:disabled {
  @apply pointer-events-none text-[#777777];
}
.primary-button {
  @apply h-10 w-28;
}
.primary-button,
.secondary-button {
  --duration: 7s;
  --easing: linear;
  @apply relative border-none rounded-full bg-btn-primary text-[#f4f1f2] text-sm font-medium outline-none shadow-btn-primary cursor-pointer;
  /* Before element */
  @apply before:absolute before:inset-0 before:rounded-full before:pointer-events-none before:z-[3] before:shadow-[inset_0_3px_12px_#34dfff4d,inset_0_-2px_4px_#d7faff4d];
  > div {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    @apply h-full rounded-full overflow-hidden flex items-center justify-center;
    span {
      @apply relative inline-block z-[1];
    }
    [class^="circle-"],
    [class*=" circle-"] {
      @apply absolute left-0 top-0 w-10 h-10 rounded-full blur-md;
      background: var(--background, transparent);
      transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
      animation: var(--animation, none) var(--duration) var(--easing) infinite;
    }
    .circle-1,
    .circle-9,
    .circle-10 {
      @apply bg-[#1ae8ff4d];
    }
    .circle-3,
    .circle-8,
    .circle-4 {
      @apply bg-[#1aff1a4d];
    }
    .circle-5,
    .circle-6 {
      @apply bg-[#cf07b180];
    }
    .circle-2,
    .circle-7,
    .circle-11,
    .circle-12 {
      @apply bg-[#1aa3ff4d];
    }
    .circle-1 {
      --x: 0;
      --y: -40px;
      --animation: circle-1;
    }
    .circle-2 {
      --x: 92px;
      --y: 8px;
      --animation: circle-2;
    }
    .circle-3 {
      --x: -12px;
      --y: -12px;
      --animation: circle-3;
    }
    .circle-4 {
      --x: 80px;
      --y: -12px;
      --animation: circle-4;
    }
    .circle-5 {
      --x: 12px;
      --y: -4px;
      --animation: circle-5;
    }
    .circle-6 {
      --x: 56px;
      --y: 16px;
      --animation: circle-6;
    }
    .circle-7 {
      --x: 8px;
      --y: 28px;
      --animation: circle-7;
    }
    .circle-8 {
      --x: 28px;
      --y: -4px;
      --animation: circle-8;
    }
    .circle-9 {
      --x: 20px;
      --y: -12px;
      --animation: circle-9;
    }
    .circle-10 {
      --x: 64px;
      --y: 16px;
      --animation: circle-10;
    }
    .circle-11 {
      --x: 4px;
      --y: 4px;
      --animation: circle-11;
    }
    .circle-12 {
      --blur: 14px;
      --x: 52px;
      --y: 4px;
      --animation: circle-12;
    }
  }
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 10px;
  border: 3px solid black;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-track {
  margin: 15px;
}
/* Inputs */
input[type="text"],
input[type="number"] {
  @apply h-8 border border-primary-border rounded-lg bg-transparent;
}
input[type="number"] {
  @apply text-sm;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Range Input */
input[type="range"] {
  @apply w-full h-3 border-none rounded-full appearance-none;
}
input[type="range"]::-webkit-slider-thumb {
  @apply relative appearance-none h-6 w-6 rounded-full bg-contain bg-center bg-no-repeat bg-[url('/picker-thumb.svg')];
  background-color: var(--thumb-bg);
}
.hue-input {
  background: -webkit-linear-gradient(
    left,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%)
  );
}
.color-input {
  background: var(--bg-color);
}
/* GRADIENT ANIMATIONS */
@keyframes horizontal {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes vertical {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SPINNER */
#loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
#loader::after,
#loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #1ae8ff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
#loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* MESSAGE */
.info-icon {
  background-image: radial-gradient(circle, #32d0f8cb, #45d6fac9 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-shadow: 0 0 25px #72faffd0, 0 0 25px #72faff40, 0 0 30px #72faff40,
    0 0 40px #72faff40, 0 0 60px #15d2ff60, 0 0 30px #72faff80,
    0 0 98px #15d2ff60;
}
.check-round-icon {
  background-image: radial-gradient(circle, #1cfa2faf, #5dfa8cb6 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-shadow: 0 0 15px #5bf85bd0, 0 0 15px #5bf85b40, 0 0 20px #5bf85b40,
    0 0 40px #5bf85b40, 0 0 60px #1dff1560, 0 0 20px #72ffad80,
    0 0 98px #1dff1560;
}
.danger-icon {
  background-image: radial-gradient(circle, #f8e322b6, #edf850b9 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-shadow: 0 0 15px #fdff72d0, 0 0 15px #fdff7240, 0 0 20px #fdff7240,
    0 0 40px #fdff7240, 0 0 60px #ffe81560, 0 0 20px #e5ff7280,
    0 0 98px #ffe81560;
}
.x-round-icon {
  background-image: radial-gradient(circle, #fd2b2b9d, #fa4848c2 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-shadow: 0 0 15px #db1717b2, 0 0 15px #db1717b2, 0 0 20px #db1717b2,
    0 0 40px #db1717b2, 0 0 60px #ff1d1560, 0 0 20px #fc575280,
    0 0 98px #ff1d1560;
}
.message-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
