* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}
body {
  min-height: 100vh;
  background-color: var(--main);
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
  overflow-x: hidden;
}

#light {
  --main: #fafafa;
  --main-inactive: rgba(40, 40, 40, 0.4) ;
  --txt-main: #000;
  --txt-inactive: rgba(0,0,0,0.6);
  --primary-g: #27A112;
  --secondary-g: #02B4C4;
  --gradient-primary: -webkit-linear-gradient(left, var(--primary-g), var(--secondary-g));
  --gradient-secondary: -webkit-linear-gradient(left, var(--secondary-g), var(--primary-g));
  --gradient-tertiary: -webkit-linear-gradient(bottom, var(--secondary-g), var(--primary-g));
  --gradient-v-secondary: -webkit-linear-gradient(top, var(--secondary-g), var(--primary-g));
}

:root {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main: #111217;
  --main-inactive: rgba(100, 100, 100, 0.4) ;
  --primary-g: #19E51C;
  --secondary-g: #00CECB;
  --txt-main: #ffffff;
  --txt-inactive: rgba(255,255,255,0.45);
  --txt-secondary: #acacac;
  --gradient-primary: -webkit-linear-gradient(left, var(--primary-g), var(--secondary-g));
  --gradient-secondary: -webkit-linear-gradient(left, var(--secondary-g), var(--primary-g));
  --gradient-tertiary: -webkit-linear-gradient(bottom, var(--secondary-g), var(--primary-g));
  --gradient-v-secondary: -webkit-linear-gradient(top, var(--secondary-g), var(--primary-g));
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: none;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:disabled {
  cursor: default;
}

input[type="text"]:focus, 
input[type="text"]:hover, 
input[type="number"]:focus,
input[type="number"]:hover,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
  border-color: #5BC3EB;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  background: transparent;
  border: 1px solid var(--txt-inactive);
  border-radius: 10px;
  outline: none;
  color: var(--txt-main);
}
input[type="range"] {
  border: 1px solid var(--main-inactive);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


.txt-primary {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-secondary {
  background: var(--gradient-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-hover-primary:hover {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-hover-secondary:hover {
  background: var(--gradient-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.border-primary {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  background:
    linear-gradient(var(--main) 0 0) padding-box,
    var(--gradient-primary) border-box; 
}
.border-secondary {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  background:
    linear-gradient(var(--main) 0 0) padding-box,
    var(--gradient-secondary) border-box; 
}
.border-hover-primary:hover {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  background:
    linear-gradient(var(--main) 0 0) padding-box,
    var(--gradient-primary) border-box; 
}
.border-hover-secondary:hover {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  background:
    linear-gradient(var(--main) 0 0) padding-box,
    var(--gradient-secondary) border-box; 
}

.logo {
  color: #5BC3EB;
  text-decoration: none;
  font-size: 3.4rem;
  font-weight: 700;
}
.icon {
  pointer-events: none;
}

.secondary-button {
  width: 98px;
  height: 40px;
  border: 1px solid var(--txt-inactive);
  font-size: 1.2rem;
  background: transparent;
  border-radius: 10px;
}
.secondary-button--active,
.secondary-button:hover {
  color: #5BC3EB;
  border-color: #5BC3EB;
}

.primary-button {
  width: 110px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 14px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  background: var(--txt-main);
  color: var(--main);
}
.primary-button--active,
.primary-button:hover {
  background: #5BC3EB;
}